@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caramel&family=Fugaz+One&family=Monoton&family=Poppins:wght@100;200;300;400;600;800&display=swap');

/* --------------------------------presets-------------------------- */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins",sans-serif;
}

body{
    overflow-x: hidden;
}

::selection{
    color: white;
    background-color: #00a69c;
}

:focus{
    outline: none;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}


/* --------------------Reusable CSS-------------------------------- */

.container{
    margin: 0 auto;
    padding: 0 2.25rem;

    width: 100%;
    max-width: 70rem;
}

.about,.vision,.mission{
    margin-top: 120px !important;
    padding: 1rem 5rem !important;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}


.heading{
    font-size: 3.25rem;
    font-family: "Abril Fatface",cursive;
    color: #00a69c;
    letter-spacing: 2px;
}

.text{
    font-size: .95rem;
    padding: 0 .50rem;   
    line-height: 1.65rem;
    color: rgb(97, 96, 96);
}

/* ----------------------------------------about section-------------------------------- */

.quote-box{
    margin: 2.5rem 0;
    align-self: center;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    max-width: 35rem;
}

.quote{
    font-weight: 300;
    font-size: 1.5rem;

    position: relative;
}


.author{
    align-self: flex-end;
}

/* ---------------------------------------vision section------------------------------- */

.vision{
    gap: 4rem;
}

.vision-box{
    display: flex;
    gap: 2rem;
}

.vision-content{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.vision-image{
    max-width: 27rem;
    aspect-ratio: 1/1;
    align-self: center;
    border-radius: 2rem;

    position: relative;

    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #00a69c;
    box-shadow: 0 4px rgba(255, 255, 255, 0.3);
}

.vision-image::before{
    content: "";
    position: absolute;
    height: 100%;
    max-height: 20rem;
    aspect-ratio: 1/1;
    background-color: #00a69c;
    border-radius: 2rem;
    top: -10px;
    left: -13px;
    z-index: -1;
}
.vision-image::after{
    content: "";
    position: absolute;
    height: 100%;
    max-height: 20rem;
    aspect-ratio: 1/1;
    background-color: #00a69c;
    border-radius: 2rem;
    bottom: -10px;
    right: -13px;
    z-index: -1;
}

.vision-image > img{
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

/* -----------------------------------mission---------------------------------- */

.check-box{
    margin: 2.75rem 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
}

.uil-check{
    color: #00a69c;
    font-size: 1.35rem;
}

.check-item{
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
}


/* ----------------------------------------media queries--------------------------------- */

@media(max-width:768px){
    
    .vision,.mission{
        margin-top: 90px !important;
        gap: 1.25rem;
    }
    .heading{
        font-size: 2.95rem;
    }
    .text{
        font-size: .8rem;
        line-height: 1.5rem;
    }
    .quote-box{
        max-width: 20rem;
        margin: 2.25rem 0;
    }
    .quote{
        font-size: 1.2rem;
    }
    .vision-image{
        display: none;
    }
    .check-box{
        gap: 4.5rem;
    }
    .check-item{
        font-size: 1rem;
    }
}
@media(max-width:425px){

    .about,.vision,.mission{
        padding: 1rem 2.25rem !important;
    }
    .heading{
        font-size: 2.4rem;
    }
    .text{
        font-size: .75rem;
    }
    .quote-box{
        max-width: 19rem;
        margin: 2.25rem 0;
    }
    .quote{
        font-size: 1rem;
    }
    .author{
        font-size: .8rem;
    }
    
    .check-box{
        gap: 1.5rem;
    }
    .check-item{
        font-size: .8rem;
    }
}
@media(max-width:375px){
    .heading{
        font-size: 2.25rem;
    }
    .text{
        font-size: .7rem;
    }
}
@media(max-width:320px){
    .heading{
        font-size: 2rem;
    }
    .text{
        font-size: .7rem;
    }
    .quote-box{
        max-width: 17rem;
        margin: 2.25rem 0;
    }
    .quote{
        font-size: .87rem;
    }
    .author{
        font-size: .7rem;
    }
    
    .check-box{
        margin: 2.15rem;
        flex-direction: column;
        align-items: center;
    }
    .check-item{
        font-size: .8rem;
    }   
}