<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>

    <!-- links -->
    <link rel="stylesheet" href="utility\styles\about-style.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <header>
        <nav>
            <div class="container navigation">
                <h1 class="logo">ZiLO</h1>
                <ul class="links">
                    <li>
                        <a class="nav-links" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="about.html">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="give-get.html">Get/Give</a>
                    </li>
                    <li>
                        <a class="nav-links" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="nav-links" href="">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container about">
                <h1 class="heading">
                    Who are we?
                </h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic beatae laboriosam blanditiis deleniti quisquam, mollitia molestias omnis alias consequuntur non possimus distinctio repellat tenetur aut odio ea veritatis fugit id vero dolorem cupiditate. Accusantium sed aperiam aut, exercitationem a ullam rem, nam mollitia itaque nisi neque architecto explicabo sapiente consequuntur aliquam dicta molestias labore, ipsum culpa. Aspernatur similique reiciendis quos aliquid delectus, commodi cumque in nulla sunt illum tempore atque assumenda fugit tenetur facilis. Deleniti provident, cum ratione perferendis at doloribus cupiditate? Sunt ipsam quia quae ipsa cumque vel natus tempore. Ipsam accusamus vitae aut, nemo ipsa ad omnis!
                </p>
                <article class="quote-box">
                    <h3 class="quote">
                       <i>
                           <q>
                            A man is not a believer who fills his stomach while his neighbour is hungry
                           </q> 
                       </i> 
                    </h3>
                    <p class="author">- Prophet Muhammad (S.A.W)</p>
                </article>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic beatae laboriosam blanditiis deleniti quisquam, mollitia molestias omnis alias consequuntur non possimus distinctio repellat tenetur aut odio ea veritatis fugit id vero dolorem cupiditate. Accusantium sed aperiam aut, exercitationem a ullam rem, nam mollitia itaque nisi neque architecto explicabo sapiente consequuntur aliquam dicta molestias labore, ipsum culpa. Aspernatur similique reiciendis quos aliquid delectus, commodi cumque in nulla sunt illum tempore atque assumenda fugit tenetur facilis. Deleniti provident, cum ratione perferendis at doloribus cupiditate? Sunt ipsam quia quae ipsa cumque vel natus tempore. Ipsam accusamus vitae aut, nemo ipsa ad omnis!
                </p>                       
            </div>
        </section>

        <section>
            <div class="container vision">
                <div class="vision-box">
                    <div class="vision-content">
                        <h1 class="heading">
                            Our Vision
                        </h1>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi culpa maiores, perspiciatis amet consectetur dolores, nemo nesciunt ab tempora pariatur error eligendi ullam expedita impedit. Animi similique suscipit quasi quas est recusandae reprehenderit architecto officia alias, non pariatur veritatis doloribus fuga, incidunt explicabo nihil sequi quo tempora sit beatae? Et, odio quasi blanditiis, delectus perspiciatis iste consectetur quo laborum rerum, praesentium id illo nesciunt quae necessitatibus. Beatae temporibus asperiores, nihil quidem accusantium officia illum libero cumque unde. Magnam veniam quos illo doloremque. Animi vitae ipsa totam et? Culpa aspernatur vel, consectetur tempora maiores veniam, voluptas excepturi, molestiae amet beatae accusantium.
                        </p>
                    </div>
                    <div class="vision-image">
                        <img src="utility\assets\images\charity.jpg" alt="">
                    </div>
                </div>
                <article class="quote-box">
                    <h3 class="quote">
                       <i>
                           <q>
                                Don’t feel ashamed when giving little for charity; that is because there is always goodness in giving no matter how little.
                           </q> 
                       </i> 
                    </h3>
                    <p class="author">- Ali Ibn Abi Talib (RA)</p>
                </article> 
            </div>
        </section>
        
        <section>
            <div class="container mission">
                <h1 class="heading">
                    Our Mission
                </h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat itaque maxime id fugiat nisi quas alias assumenda cumque sunt quasi error odio, laboriosam harum possimus, incidunt eaque ea beatae, a nesciunt sequi explicabo neque illo? Delectus error, reprehenderit nesciunt eos ad quia reiciendis fuga corrupti eaque explicabo atque aliquam praesentium, voluptates assumenda illo rem qui recusandae? Consequatur ipsa pariatur illo voluptas voluptatem fugit? Minus, qui. Dignissimos temporibus unde rerum optio necessitatibus nesciunt, excepturi fuga, reiciendis sint vitae velit voluptate distinctio incidunt eius quis eligendi. Quas tenetur nostrum tempore rem facilis nihil quasi ut modi, dolore necessitatibus veniam, odio dignissimos.
                </p>
                <ul class="check-box">
                    <li class="check-item">
                        <i class="uil uil-check"></i> mission 1
                    </li>
                    <li class="check-item">
                        <i class="uil uil-check"></i> mission 2
                    </li>
                    <li class="check-item">
                        <i class="uil uil-check"></i> mission 3
                    </li>
                </ul>
            </div>
        </section>

        
        
        <footer>
            <div class="container footer">
                <div class="footer-box">
                    <div class="footer-content">
                        <h1 class="fl-logo">ZiLO</h1>
                    </div>
                    <ul class="socials">
                        <li class="sl">
                            <a href=""><i class="uil uil-twitter"></i></a>
                        </li>
                        <li class="sl">
                            <a href=""><i class="uil uil-instagram"></i></a>
                        </li>
                        <li class="sl">
                            <a href=""><i class="uil uil-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="footer-links">
                    <li>SERVICES</li>
                    <li>
                        <a href="" class="ft-link">home</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">about</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">FAQs</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">contact</a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li>SUPPORT</li>
                    <li>
                        <a href="" class="ft-link">help us</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">volunteer</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">join the team</a>
                    </li>
                </ul>
                <ul class="footer-links"> 
                    <li>LEGAL</li>
                    <li>
                        <a href="" class="ft-link">privacy policy</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">terms & conditions</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
    
    <!-- script -->
    <script src="utility\scripts\app.js"></script>
</body>
</html>