<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>

    <!-- links -->
    <link rel="stylesheet" href="utility\styles\contact-style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <header>
        <nav>
            <div class="container navigation">
                <h1 class="logo">ZiLO</h1>
                <ul class="links">
                    <li>
                        <a class="nav-links" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="about.html">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="give-get.html">Get/Give</a>
                    </li>
                    <li>
                        <a class="nav-links" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="nav-links" href="">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

        <section>
            <div class="container contact">
                <h1 class="heading">Have any queries?</h1>
                <p class="text">Reach out to us through our socials</p>
                <ul class="socials">
                    <li class="sl">
                        <a href=""><i class="uil uil-twitter"></i></a>
                    </li>
                    <li class="sl">
                        <a href=""><i class="uil uil-instagram"></i></a>
                    </li>
                    <li class="sl">
                        <a href=""><i class="uil uil-facebook-f"></i></a>
                    </li>
                </ul>
                <p class="text"><span>or</span></p>
            </div>
            <div class="container mail">
                <div class="message">
                    <h1 class="heading">Mail us..</h1>
                </div>
                <form action="" class="mail-box">
                    <input type="text" class="form-input" placeholder="Your name" required>
                    <input type="email" class="form-input" placeholder="Your email" required>
                    <textarea placeholder="Any Questions?" class="form-input" required></textarea>
                    <input type="submit" value="Send" class="button">
                </form>
            </div>
        </section>

        <footer>
            <div class="container footer">
                <div class="footer-box">
                    <div class="footer-content">
                        <h1 class="fl-logo">ZiLO</h1>
                    </div>
                    <ul class="socials">
                        <li class="sl">
                            <a href=""><i class="uil uil-twitter"></i></a>
                        </li>
                        <li class="sl">
                            <a href=""><i class="uil uil-instagram"></i></a>
                        </li>
                        <li class="sl">
                            <a href=""><i class="uil uil-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="footer-links">
                    <li>SERVICES</li>
                    <li>
                        <a href="" class="ft-link">home</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">about</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">FAQs</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">contact</a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li>SUPPORT</li>
                    <li>
                        <a href="" class="ft-link">help us</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">volunteer</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">join the team</a>
                    </li>
                </ul>
                <ul class="footer-links"> 
                    <li>LEGAL</li>
                    <li>
                        <a href="" class="ft-link">privacy policy</a>
                    </li>
                    <li>
                        <a href="" class="ft-link">terms & conditions</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>

    <!-- script -->
    <script src="utility\scripts\app.js"></script>
</body>
</html>