<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>

    <!-- links -->
    <link rel="stylesheet" href="utility\styles\style.css">
</head>
<body>
    <header>
        <nav>
            <div class="container navigation">
                <h1 class="logo">ZiLO</h1>
                <ul class="links">
                    <li>
                        <a class="nav-links" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="about.html">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="give-get.html">Get/Give</a>
                    </li>
                    <li>
                        <a class="nav-links" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="nav-links" href="">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container landing-page">
                <div class="landing-content">
                    <h1 class="title">join us in saving food from going to waste</h1>
                    <button class="button">
                        get started
                    </button>
                </div>
            </div>
        </section>
    </main>

    <!-- script -->
    <script src="utility\scripts\app.js"></script>
</body>
</html>