<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>

    <!-- links -->
    <link rel="stylesheet" href="utility\styles\style.css">
    <link rel="stylesheet" href="utility\styles\listing-style.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <header>
        <nav>
            <div class="container navigation">
                <h1 class="logo">ZiLO</h1>
                <ul class="links">
                    <li>
                        <a class="nav-links" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="about.html">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="listing.html">Get/Give</a>
                    </li>
                    <li>
                        <a class="nav-links" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a class="nav-links" href="">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container get-give">
                <button class="button">Get</button>
                <button class="button">Give</button>
            </div>
        </section>

        <section>
            <div class="container food-items">
                <div class="filter-box">
                    <div class="search-box">
                        <input type="text" name="" id="" placeholder="Search for food...">
                        <i class="uil uil-search"></i>
                    </div>
                    <div class="filters">
                        <select name="" id="">
                            <option value="item 1">lool</option>
                            <option value="item 1">lool</option>
                            <option value="item 1">lool</option>
                            <option value="item 1">lool</option>
                        </select>
                        <div class="dd-menu"></div>
                    </div>
                </div>
                <div class="item-box">
                    <li>
                        <div class="item">
                            <div class="item-image">
                                <img src="utility\assets\images\biryani.jpg" alt="">
                            </div>
                            <div class="item-desc">
                                <h2 class="item-name">biryani</h2>
                                <h4 class="provider-name">from : <span>XYZ</span></h3>
                                <!-- <p class="location">yello</p> -->
                                <div class="loc-last">
                                    <p class="location"><span class="distance">1.25</span>km away..</p>
                                    <p class="lasting days">2 days</p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!-- <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                    <li>
                        item
                    </li>
                     -->
                </div>
            </div>
        </section>
    </main>

    <!-- script -->
    <script src="utility\scripts\app.js"></script>
</body>
</html>