@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Fugaz+One&family=Monoton&family=Poppins:wght@100;200;400;500;600;800&display=swap');

/* font-family: 'Caramel', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Poppins', sans-serif; */

/* --------------------------------presets-------------------------- */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins",sans-serif;
}

body{
    overflow-x: hidden;
}

::selection{
    color: white;
    background-color: #e33745;
}

:focus{
    outline: none;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}


/* --------------------Reusable CSS-------------------------------- */

.container{
    margin: 0 auto;
    padding: 0 2.25rem;

    width: 100%;
    max-width: 70rem;
}

.button{
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border: 0px; */
    border-radius: 5rem;
    
    font-size: .95rem;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    
    box-shadow: 0 4px rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: .65rem .95rem;
    width: 100%;
    max-width: 12rem;

    cursor: pointer;
    transition: .3s;
}

.button:hover{
    background-color: white;
    color: #e33745;
}


/* ---------------------Navigation-------------------------- */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    transition: .3s;
}

header.scrolled{
    background-color: transparent;
    box-shadow: 0 3px 15px .1px rgb(0 0 0/.1);
    backdrop-filter: blur(3px);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    line-height: 120px;
    height: 120px;

    font-size: 3rem;
    font-family: "Monoton",cursive;
    color: white;

    cursor: pointer;
    transition: .3s;
}

header.scrolled .logo{
    line-height: 100px;
    height: 100px;
}

.links{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav-links{
    position: relative;

    font-size: .95rem;
    font-weight: 500;

    text-transform: capitalize;
    color: white;
    
    transition: .4s ease-in-out;
}

.nav-links:hover{
    text-shadow: 0 0 2.5px rgba(255, 255, 255);
}

.nav-links::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: -1;

    height: 10px;
    width: 0px;
    border-radius: 10px;

    background-color: white;
    opacity: 0;
    transition: .3s ease-in-out;
}

.nav-links:hover::after{
    opacity: .5;
    width: 100%;
}

/* -------------------------------Index landing page--------------------- */

section:has(.landing-page){
    background-image: linear-gradient(90deg,rgba(0 0 0/.5),rgba(0 0 0/.5)),
        url("../assets/images/content-strawberries.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.landing-page{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}


.title{
    font-family: 'Caramel', cursive;
    color: white;
    letter-spacing: 1px;
    font-size: 4rem;
    text-align: center;

    margin-top: 2rem;
}


/* -------------------------------Listing Page-------------------------- */


/* section:has(.get-give){
    margin-top: 120px;
}

.get-give{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;

    padding: 2rem 2.25rem;

    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.get-give > button{
    background-color: white;
    color: #e33745;
} */





